:root {
    --primary-color: #0a1118;
    --primary-color: #233D54;
    --bs-body-bg: #FBF0F6;
    --bs-body-font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color);
}

/*
    @media (min-width: 544px)  {}
    @media (min-width: 768px)  {}
    @media (min-width: 992px)  {}
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
    @media (min-width: 1600px) {}
*/

/*
Custom Container
*/

.logo {
    height: 60px;
    width: 60px;
}

/*
Container Styling
*/

.container-custom {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container-custom {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container-custom {
        width: 1340px;
    }
}

@media (min-width: 1600px) {
    .container-custom {
        width: 1520px;
    }
}


/*
Main Header
*/
.header {
    z-index: 2;
    position: fixed;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}

/*
Navigation Bar
*/
/* #navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(255, 247, 231);
    z-index: 100;
} */

/* .dropdown-nav__closeNavBtn {
    position: absolute;
    top: 20px;
    right: 16px;
    background-color: rbg(255, 255, 255, 0.6);
}

.dropdown-nav__container {
    height: 100vh;
    padding: 0 1rem;
} */

/*
Hero Section
*/

.hero {
    position: relative;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

@media (min-width: 1400px) {
    .hero__heading {
        font-size: 3.2rem;
    }
}

.hero__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.hero__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.5;
    z-index: 1;
}

.hero__content {
    z-index: 1;
}

.hero__content-width {
    max-width: 800px;
}

.hero__scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hero__scroll-btn:hover {
    color: var(--bs-light);
    opacity: 0.8;
}

.hero__scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-10px);
    }
}

/*
Steps Section
*/

.steps {
    padding-top: 40px;
    padding-bottom: 40px;
}

.steps__section-thumbnail {
    height: 240px;
    object-fit: cover;
    margin: 0 auto;
}

.steps__content-width {
    max-width: 456px;
    margin: 0 auto;
}

.steps--background {
    background-color: #FEF8F9;
}

@media (min-width: 544px) {
    .steps {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .steps__section-thumbnail {
        height: auto;
    }

}

/*
Footer
*/

.footer .border-highlight {
    border-top: 1px solid var(--primary-color-highlights);
}

/* Initial Pass (Peter) */

@font-face {
    font-family: '222 03';
    src: url('./fonts/a2203.eot');
    src: url('./fonts/a2203.eot?#iefix') format('embedded-opentype'),
        url('./fonts/a2203.woff2') format('woff2'),
        url('./fonts/a2203.woff') format('woff'),
        url('./fonts/a2203.ttf') format('truetype'),
        url('./fonts/a2203.svg#a2203') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* .navbar {
    padding: 0 !important;
}

.nav-link {
    font-size: 1.2em;
    align-content: space-around;
    color: white;
    padding: 0.25em 1em !important;
    font-family: '222 03';
    z-index: 10;
}

.nav-link:hover {
    color: #aa4a4a !important;
} */

nav {
    display: flex;
    padding: 1% 4%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
}

nav .fa-solid {
    display: none;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-link.active,
.nav-link:active,
.nav-link:focus {
    color: #aa4a4a !important;
    text-decoration: underline;
    text-underline-offset: 8px;
}

#label-logo {
    position: fixed;
    left: 20px;
    order: -1;
}

#header.active-header {
    background-color: #202124;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

    .nav-link:active {
        text-decoration: underline;
        text-underline-offset: 8px;
    }
}

/* New landing */
.landing-image {
    height: 100%;
    width: 100%;
    opacity: 0.4;
}

.dimmer {
    padding-top: 50px;
    opacity: 100%;
}

.dimmer::before {
    content: '';
    position: absolute;
    opacity: 1;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.home.dimmer::before {
    background: url('./img/stu-mic-bg-.jpg') no-repeat center center/cover;
}

.releases.dimmer::before {
    background: url('./img/releases-bg-5.png') no-repeat center center/cover;
}

.artists.dimmer::before {
    background: url('./img/artists-bg-2.png') no-repeat center center/cover;
}

.news.dimmer::before {
    background: url('./img/news-bg-2.png') no-repeat center center/cover;
}

.store.dimmer::before {
    background: url('./img/store-landing.jpeg') no-repeat center center/cover;
}

.alfredArticle.dimmer::before {
    background: url('./img/news-bg-2.png') no-repeat center center/cover;
}

html {
    scroll-behavior: smooth;
}

.hero__heading {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
}

.logo.rounded {
    width: 40px;
    height: 40px;
}

.pad-15 {
    padding: 15px;
}

iframe#spotify-embed {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background-color: color-mix(in srgb, rgba(40, 40, 40, 1) 90%, rgba(0, 0, 0, 1) 10%);
}